.portMain {
    margin-top: 5.4%;
    /* background-color: rgb(231,167,141); */
    
}

.card {
    margin: 20px 10px 5px 10px;
    
}
.githubFA {
    float: right;
}
#portfolioTitle {
    color: rgb(70,70,70);
    text-align: center;
    border-bottom-style: double;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.portContainer{
    background-color: rgb(250, 250, 250);
    opacity: 0.95;
    width: 85%;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(190, 186, 186);
    box-shadow: 3px 3px 0px rgb(50,50,50);
    margin-top: 80px;
    /* margin-bottom: 40px; */
    
    
}
body{
    
    background-image: url("/img/full-bloom.png");
    background-repeat: repeat;
    background-color: rgb(242,192,148);
    background-blend-mode: multiply;
    /* background-image: linear-gradient(to bottom right, rgb(242,192,148), rgb(229,151,131)); */
    /* background-image: linear-gradient(to right, rgb(231,167,141), rgb(229,151,131)); */
}