
.navMenu {
    color: white;

    float: right;
}


#navAbout, #navPort, #navContact{
    float: right;
    margin: 0 10px;
    line-height: 50px;
    height: 50px;
    /* margin-right: 15px; */
}

#navAbout:hover, #navPort:hover, #navContact:hover {
    color: rgb(236,203,101);
    transition: all 0.3s ease;
    /* font-weight: bold; */
}


.navDiv {
    width: 100%;
    height: 50px;
   
    
}

.navbar-brand {
    margin-left: 15px;
    font-size: 28px;
}
.navbar {
    opacity: .85;
}